.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: var(--global-padding);
    width: var(--global-width);
    border-radius: var(--global-border-radius);
    height: fit-content;
    background-color: var(--primary-color);
    box-shadow: var(--global-box-shadow);
}

.title {
    font-family: "Raleway";
    font-weight: 100;
    font-size: 3rem;
    color: var(--font-primary-color);
}

.container { 
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}


.card_container {
    display: flex;
    flex-direction: column;
}