.section_container {
    text-align: center;
    height: fit-content;
    background-color: var(--primary-color);
    width: var(--global-width);
    padding: var(--global-padding);
    border-radius: var(--global-border-radius);
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: var(--global-box-shadow);
}

.title {
    font-size: 2.25rem;
    font-weight: 100;
    font-family: "Raleway", sans-serif;
    color: var(--font-primary-color);
}

.container {
    /* size of primary */
    width: var(--global-width);
    background-color: var(--secondary-color);
    border-radius: var(--global-border-radius);
    max-width: 80%;
    display: flex;
    overflow: hidden;
    margin: auto;
    gap: 30px;
    padding: var(--global-padding);
}

.icon_container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: baseline;
    text-align: center;
    align-items: center; 
}

.icon_title {
    font-size: 1rem;
    font-weight: 300;
    font-family: "Raleway", sans-serif;
    color: var(--font-primary-color);

}

.icon
{
    width: 60px;
}

.list {
    display: flex;
    gap: 30px;
    position: relative;
    animation: primary_scroll 10s linear infinite;
}

@keyframes primary_scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
    
}

