.container {
    height: fit-content;
    margin-bottom: 50px;
    margin-top: 100px;
}
.contact_form {
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 615px;
    background-color: #2f2f2f;
    border-radius: 20px;
    padding: 10px;
}

.title {
    margin: 10px;
    color: white;
    font-family: "Public_Sans", sans-serif;
    font-weight: 600;
    font-size: 3em;
    width: 10px;
}

input {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
}

textarea {
    resize: none;
    margin: 10px;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    border: none;
    font-family: "Raleway", sans-serif; 
    font-size: 1rem;
}

button {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: #f5f5f5;
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}