.container {
    width: 100%;
    height: fit-content;
}

.contact_form {
    margin: auto;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    border-radius: var(--global-border-radius);
    padding: var(--global-padding);
    box-shadow: var(--global-box-shadow);
}


.title {
    margin: 10px;
    color: var(--font-primary-color);
    font-family: "Public_Sans", sans-serif;
    font-weight: 100;
    font-size: 2em;
}

input {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    font-size: 1rem;
    font-family: "Raleway", sans-serif;
    background-color: var(--secondary-color);
}

textarea {
    resize: none;
    margin: 10px;
    padding: 10px;
    height: 200px;
    border-radius: 10px;
    border: none;
    font-family: "Raleway", sans-serif; 
    font-size: 1rem;
    background-color: var(--secondary-color);
}

button {
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    border: none;
    background-color: var(--secondary-color);
    color: var(--font-primary-color);
    font-size: 20px;
    font-weight: 500;
    font-family: "Raleway", sans-serif;
    cursor: pointer;
}
