.container {
    width: 80%;
    margin: auto;
    background-color: var(--primary-color);
    border-radius: var(--global-border-radius);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding: 10px;
}

ul {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

li {
    font-family: "Public_Sans";
    color: var(--font-primary-color);
    font-style: none;
    font-size: 1rem;
    font-weight: 200;
}

a {
    text-decoration: none;
    color: var(--font-primary-color);
}

@media screen and (max-width: 768px) {
    .container {
        width: 86%;
    }
    
}