.button__text {
    font-family: "Public_Sans";
    font-size: 2em;
    font-weight: 200;
    color: var(--font-primary-color);
}

.button {
    margin: auto;
    margin-top: 30px;
    background-color: var(--primary-color);
    width: 250px;
    height: 80px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -8px 8px 7px 0px rgb(0 0 0 / 24%);
}

a {
    text-decoration: none;
}