@font-face {
    font-family: "Poetsen_One";
    src: local('PoetsenOne-Regular'), url('./assets/fonts/Poetsen_One/PoetsenOne-Regular.ttf');
}

@font-face {
    font-family: "Public_Sans";
    src: local('PublicSans-VariableFont_wght.'), url('./assets/fonts/Public_Sans/PublicSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Raleway";
    src: local('Raleway-VariableFont_wght'), url('./assets/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

:root {
    --font-primary-color: rgb(245 245 248);
    --font-secondary-color: rgb(171 171 171);
    --primary-color: rgb(29, 29, 29);
    --secondary-color: rgb(59, 59, 59);
    --global-box-shadow: -4px 4px 6px 0px rgb(0 0 0 / 14%);
    --global-width: 90%;
    --global-border-radius: 20px;
    --global-padding: 20px;
}

@media screen and (min-width: 768px) {
    :root {
        --global-width: 80%;
        --global-padding: 20px;
    }

}



h3,
main,
body {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

main,
html {
    background: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    border: 0;
}

section {
    height: 100vh;
    margin: auto;
    margin-bottom: 15px;
}